#Unedeed folder/files
.vs/
Library/bin/
Library/obj/
/Web/imagenes/tumblr_nmxi59bMwO1s5dtx3o1_500.gif
/Web/imagenes/tumblr_n320f2gHjd1sxws2ko1_500.gif
/Web/imagenes/Piximon.gif
/Web/imagenes/guilmonpleure.gif
/Web/imagenes/guilattack.gif
/Web/imagenes/giphy.gif
/Web/petView.aspx.cs
/Web/petView.aspx
