body {
}

.auto-style4 {
    margin-left: 305px;
    margin-right: 219px;
    margin-bottom: 2px;
    width: 663px;
}

.auto-style5 {
    height: 23px;
}

.auto-style6 {
    height: 23px;
    width: 195px;
}

.auto-style7 {
    width: 195px;
}

.auto-style8 {
    height: 23px;
    width: 228px;
}

.auto-style9 {
    width: 228px;
}

.auto-style10 {
    width: 195px;
    height: 26px;
}

.auto-style11 {
    width: 228px;
    height: 26px;
}

.auto-style12 {
    height: 26px;
}

.auto-style13 {
    width: 100%;
}
